body{
    background-image: url(https://t3.ftcdn.net/jpg/05/40/04/46/360_F_540044645_euvM4jng8cjqkpwT6NkjyfHePtREP3JA.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#timer{
     height: 100px;
     color: chocolate;
    text-align: center;
    font-size: 30px;
    display: block;
    margin-left: 530px;
 }
.container{
     height: 220px;
    width: 500px;
    margin-left: 400px;
    margin-top: 40px;
    display: flex;
}
#lap{
    border: 4px solid chocolate;
    height: 150px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 200px;
    text-align: center;
    box-shadow: 1px 0.1px 9px 10px red;
    display: block;
}
#lap:hover{
    background-color: rgb(106, 23, 23);
}
#start{
    border: 4px solid chocolate;
    height: 150px;
    width: 150px;
    font-size: 25px;
    margin-top: 60px;
    margin-left: 150px;
    border-radius: 200px;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 0.1px 9px 10px red;
}
#start:hover{
    background-color: rgb(106, 23, 23);
}
#reset{
    border: 4px solid chocolate;
    height: 100px;
    width: 100px;
    margin-top: 130px;
    margin-right: 400px;
    border-radius: 200px;
    font-size: 20px;
    font-weight: bold;
     box-shadow: 1px 0.1px 9px 10px red;
    display: none;
}
#reset:hover{
    background-color: rgb(106, 23, 23);
}
#laplist{
    height: 100px;
    width: 400px;
    margin-left: 480px;
    margin-top: 30px;
    overflow-y: scroll;
    display: none;
}
#div2{
    font-size: 25px;
    color: beige;
    text-align: center;
    margin-top: 10px;

}
#insidetime{
    display: flex;
    height: 5px;
}